@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   margin: 0;
   height: 8000px;
}

main {
   height: 100%;
   /* Ajout d'une hauteur explicite */
}

.flex {
   display: flex;
}

.enfant1 {
   width: 70%;
   height: 1000px;
   background: #888;
}

.enfant2 {
   width: 30%;
   height: 500px;
   background: #cc4e4e;
   position: sticky;
   top: 0;
}