@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h1 {
   display: flex;
   align-items: center;
   gap: 5px;
}

.material-icons::before {
   content: attr(data-icon);
}

.material-icons {
   font-size: 50px;
   color: blue;
   background-color: #e97e36;
}

.container {
   display: flex;
   position: relative;
   margin-top: 150px;
   margin-left: 50px;
   margin-right: 50px;
   margin-bottom: 50px;
   padding: 20px;
   border-radius: 10px;
   background-color: #f0f0f0;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   font-family: 'Oswald', sans-serif;
   font-size: 20px;
   color: #333;
   text-align: center;
   transition: all 0.3s ease;


}